font-family = 'Open Sans', Helvetiva, Tahoma, Arial, sans-serif
font-size_small = 8px
font-size_regular = 10px

font-size_page = 2rem
line-height_page = 3.5rem
sidebar-width = 20rem

color_base = #475252
color_gray = #ebebeb
color_error = #f95165

color_blue = #3498db
color_blue_hover = darken(color_blue, 10%)
color_blue_active = darken(color_blue, 20%)

color_green = #34db73
color_green_hover = darken(color_green, 10%)
color_green_active = darken(color_green, 20%)
